<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ourprojecttest">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application

        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="智慧医疗"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Noactionbar"
        android:usesCleartextTraffic="true">
        <activity android:name=".StuDiagnosis.VideoChat"></activity>
        <activity
            android:name=".DocTreatment.DocDrugStore"
            android:launchMode="singleInstance" />
        <activity android:name=".DocTreatment.Prescribe" />
        <activity android:name=".StuDiagnosis.OnlineDocDetail" />
        <activity android:name=".StuDiagnoseRecord.DisplayRecordDetail" />
        <activity android:name=".StuMine.StuHistoryOrder.HistoryOrder" />
        <activity android:name=".StuMine.StuNeedToPost.NeedToPost" />
        <activity android:name=".StuMine.StuNeedToReceive.NeedToReceive" />
        <activity android:name=".StuMine.StuNeedToPay.NeedToPay" />
        <activity android:name=".DocMine.DocOrderManagement.OrderManagement" />
        <activity android:name=".StuDiagnosis.Chat" />
        <activity android:name=".StuDiagnosis.RenGongWenZhen" />
        <activity android:name=".DocMine.DocInformation.ModefyDocName" />
        <activity android:name=".StuDrugStore.StuBuyDrug" />
        <activity android:name=".NavigationBar.DocBottomNavigation" />
        <activity android:name=".StuDrugStore.StuDrugDetail" />
        <activity android:name=".FindPass" />
        <activity android:name=".StuDrugStore.UpDrugMsgActivity" />
        <activity android:name=".PerfeActivity" >
        </activity>
        <activity android:name=".StuMine.AddressActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DocTreatment.DocOperatActivity" />
        <activity android:name=".StuMine.StuInfomation.StuInformation" />
        <activity android:name=".StuMine.StuInfomation.ModefyStuName" />
        <activity android:name=".StuMine.ModifyPassword" />
        <activity android:name=".StuMine.ShoppingCart.ShoppingCartActivity" />
        <activity
            android:name=".NavigationBar.StuBottomNavigation"
            android:launchMode="singleTask" />
        <activity android:name=".DocMine.DocInformation.DocInformation" />
        <activity
            android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".Service.StuService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.DocService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="url"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver android:name=".StuMine.StuNeedToPay.NeedToPay$LocalReceiver" />
    </application>

</manifest>